<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exam">
	<resultMap type="ExamVo" id="ExamVoMap">
		<result column="exam_name" property="examName"/>
		<result column="csat_seq" property="csatSequence"/>
		<result column="exam_seq" property="examSequence"/>
		<result column="manage_seq" property="manageSequence"/>
		<result column="exam_ymd" property="examYmd"/>
		<result column="ys_seq" property="ysSequence"/>
	</resultMap>

	<select id="selectListExam" resultMap="ExamVoMap" parameterType="int">
		SELECT exam_name
		  FROM csat_exam
		 WHERE csat_seq = #{csatSequence}
		 ORDER BY exam_seq ASC 
	</select>
	
	<insert id="insert" parameterType="Map">
		INSERT INTO csat_exam
		            (csat_seq,exam_seq,manage_seq,exam_name,exam_ymd)
		     VALUES (#{csatSequence},
		     		 #{examSequence}, 
		     		 #{manageSequence},
		     		 #{examSequence}, 
		     		 #{examYmd}) 
	</insert>
	
	<update id="update" parameterType="Map">
		UPDATE csat_exam
		   SET csat_seq = #{csatSequence}, manage_seq = #{manageSequence},
		       exam_name = #{examName}, exam_ymd = #{examYmd}, ys_seq = #{ysSequence}
		 WHERE exam_seq = #{examSequence} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM csat_exam
		 WHERE exam_seq = #{examSequence} 
	</delete>
</mapper>