<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exam">

	<resultMap type="ExamVo" id="ExamVoMap">
		<result column="csat_seq" property="csatSequence"/>
		<result column="exam_seq" property="examSequence"/>
		<result column="exam_name" property="examName"/>
	</resultMap>
	
	<resultMap type="ExamVo" id="ExamVoForManageMap">
		<result column="exam_seq" property="examSequence"/>
		<result column="year" property="year" />
		<result column="exam_name" property="examName" />
		<result column="isttt_name" property="istttName" />
	</resultMap>

	<select id="selectOne" parameterType="String" resultType="int">
		SELECT COUNT(*)
		  FROM csat_exam ce, csat_isttt ci
		 WHERE ce.isttt_seq = ci.isttt_seq
		   AND ( ce.exam_name LIKE CONCAT('%', #{search}, '%')
		          OR ci.isttt_name LIKE CONCAT('%', #{search}, '%') )
	</select>

	<select id="selectListExam" parameterType="int" resultMap="ExamVoMap">
		SELECT csat_seq,exam_seq,exam_name
		  FROM csat_exam
		 WHERE csat_seq = #{csatSequence}
		 ORDER BY exam_seq ASC 
	</select>
	
	<select id="selectListExamForManage" parameterType="Map" resultMap="ExamVoForManageMap">
		SELECT ce.exam_seq, DATE_FORMAT(ce.exam_ymd, '%Y') AS year,ce.exam_name,ci.isttt_name
		  FROM csat_exam ce,csat_isttt ci
		 WHERE ce.isttt_seq = ci.isttt_seq
		   AND ( ce.exam_name LIKE CONCAT('%', #{search}, '%')
		          OR ci.isttt_name LIKE CONCAT('%', #{search}, '%') )
		 ORDER BY ce.exam_seq desc
		 LIMIT #{pageNumber}, 10 
	</select>
	
	<insert id="insert" parameterType="ExamVo">
		INSERT INTO csat_exam
		            (csat_seq,exam_seq,isttt_seq,exam_name,exam_ymd)
		     VALUES (#{csatSequence},
		     		 #{examSequence}, 
		     		 #{istttSequence},
		     		 #{examSequence}, 
		     		 #{examYmd}) 
	</insert>
	
	<update id="update" parameterType="ExamVo">
		UPDATE csat_exam
		   SET csat_seq = #{csatSequence}, isttt_seq = #{istttSequence},
		       exam_name = #{examName}, exam_ymd = #{examYmd}, ys_seq = #{ysSequence}
		 WHERE exam_seq = #{examSequence} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM csat_exam
		 WHERE exam_seq = #{examSequence} 
	</delete>
	
</mapper>