<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qna">

	<resultMap type="QnaVo" id="QnaVoMap">
		<result column="write_date" property="writeDate"/>
		<result column="title" property="title"/>
	</resultMap>
	
	<resultMap type="QnaForManageVo" id="QnaForManageVoMap">
		<result column="qna_seq" property="qnaSequence"/>
		<result column="student_id" property="studentId" typeHandler="org.redborn.csatlatte.commons.mybatis.AES256TypeHandler"/>
		<result column="nickname" property="nickname" typeHandler="org.redborn.csatlatte.commons.mybatis.AES256TypeHandler"/>
		<result column="content" property="content"/>
		<result column="write_date" property="writeDate"/>
		<result column="use_yn" property="useYn"/>
		<result column="title" property="title"/>
	</resultMap>
	
	<resultMap type="QnaForStudentVo" id="QnaForStudentVoMap">
		<result column="qna_seq" property="qnaSequence"/>
		<result column="content" property="content"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>
	
	<select id="selectOne" parameterType="int" resultMap="QnaVoMap">
		SELECT write_date, title
		  FROM csat_qna
		 WHERE qna_seq = #{qnaSequence}
	</select>
	
	<select id="selectOneMaxQnaSequence" resultType="int">
		SELECT IFNULL(MAX(qna_seq), 0) + 1
		  FROM csat_qna 
	</select>
	
	<select id="selectOneCount" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM csat_qna cq, csat_student cs
		 WHERE cq.student_seq = cs.student_seq
		   AND (cs.student_id like CONCAT('%',#{search},'%') OR cs.nickname like CONCAT('%',#{search},'%'))
		   AND cq.use_yn like CONCAT ('%',#{useYn},'%')
	</select>
	
	<select id="selectListForManage" parameterType="Map" resultMap="QnaForManageVoMap">
		SELECT cq.qna_seq as qna_seq,cs.student_id as student_id,
			   cs.nickname as nickname,cqc.content as content,cq.title,
			   cq.write_date as write_date,cq.use_yn
		  FROM csat_qna cq,csat_qna_content cqc,csat_student cs
		 WHERE cq.qna_seq = cqc.qna_seq
		   AND cq.student_seq = cs.student_seq
		   AND cq.use_yn like CONCAT ('%',#{useYn},'%')
		   AND (cs.student_id like IF(#{search} = '', '%%', #{search, typeHandler=org.redborn.csatlatte.commons.mybatis.AES256TypeHandler}) 
		   		OR cs.nickname like IF(#{search} = '', '%%', #{search, typeHandler=org.redborn.csatlatte.commons.mybatis.AES256TypeHandler}))
	  ORDER BY cq.qna_seq desc
		 LIMIT #{pageNumber}, 10
	</select>
	
	<select id="selectListForStudent" parameterType="Map" resultMap="QnaForStudentVoMap">
		SELECT cq.qna_seq as qna_seq,cqc.content as content,cq.write_date as write_date
		  FROM csat_qna cq,csat_qna_content cqc
		 WHERE cq.qna_seq = cqc.qna_seq
		   AND cq.student_seq = #{studentSequence}
		 LIMIT #{pageNumber}, 10 
	</select>
	
	<insert id="insert" parameterType="Map">
		 INSERT INTO csat_qna(qna_seq, student_seq, title, write_date, use_yn)
	     VALUES (#{qnaSequence}, #{studentSequence}, #{title}, NOW(3),'Y') 
	</insert>
	
	<update id="updateUseYnN" parameterType="int">
		UPDATE csat_qna
		   SET use_yn = 'N'
		 WHERE qna_seq = #{qnaSequence} 
	</update>
	
</mapper>