<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qna">

	<resultMap type="QnaVo" id="QnaVoMap">
		<result column="qna_seq" property="qnaSequence"/>
		<result column="student_seq" property="studentSequence"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>
	
	<resultMap type="QnaForManageVo" id="QnaForManageVoMap">
		<result column="qna_seq" property="qnaSequence"/>
		<result column="student_id" property="studentId"/>
		<result column="nickname" property="nickname"/>
		<result column="content" property="content"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>
	
	<resultMap type="QnaForStudentVo" id="QnaForStudentVoMap">
		<result column="qna_seq" property="qnaSequence"/>
		<result column="content" property="content"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>

	<select id="selectOne" parameterType="int" resultMap="QnaVoMap">
		SELECT qna_seq,student_seq,write_date
		  FROM csat_qna
		 WHERE qna_seq = #{qnaSequence}
		   AND use_yn = 'Y' 
	</select>
	
	<select id="selectOneMaxQnaSequence" resultType="int">
		SELECT IFNULL(qna_seq, 0) + 1
		  FROM csat_qna 
	</select>
	
	<select id="selectListForManage" parameterType="Map" resultMap="QnaForManageVoMap">
		SELECT cq.qna_seq as qna_seq,cs.student_id as student_id,
			   cs.nickname as nickname,cqc.content as content,
			   cq.write_date as write_date
		  FROM csat_qna cq,csat_qna_content cqc,csat_student cs
		 LIMIT #{begin}, 10
		 WHERE cq.qna_seq = cqc.qna_seq
		   AND cq.student_seq = cs.student_seq
		   AND cs.student_id = '%#{search}%' OR cs.nickname = '%#{search}%'
	</select>
	
	<select id="selectListForStudent" parameterType="Map" resultMap="QnaForStudentVoMap">
		SELECT cq.qna_seq as qna_seq,cqc.content as content,cq.write_date as write_date
		  FROM csat_qna cq,csat_qna_content cqc
		 LIMIT #{begin}, 10
		 WHERE cq.qna_seq = cqc.qna_seq
		   AND cq.student_seq = #{studentSequence} 
	</select>
	
	<insert id="insert" parameterType="QnaVo">
		 INSERT INTO csat_qna
	     VALUES (#{qnaSequence}, #{studentSequence},NOW(),'Y') 
	</insert>
	
	<update id="updateUseYnN" parameterType="int">
		UPDATE csat_qna
		   SET use_yn = 'N'
		 WHERE student_seq = #{studentSequence} 
	</update>
	
</mapper>