<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">

	<resultMap type="StudentVo" id="StudentVoMap">
		<result column="student_id" property="studentId"/>
		<result column="nickname" property="nickname"/>
		<result column="count_connection" property="countConnection"/>
		<result column="use_yn" property="useYn"/>
		<result column="avg_score" property="averageScore"/>
	</resultMap>
	
	<resultMap type="StudentVo" id="StudentInformationVoMap">
		<result column="student_id" property="studentId"/>
		<result column="content" property="securityQuestionContent"/>
		<result column="photo_code" property="photoCode"/>
		<result column="photo_name" property="photoName"/>
		<result column="nickname" property="nickname"/>
		<result column="csat_name" property="csatName"/>
	</resultMap>
	
	<resultMap type="YmdCountVo" id="YmdCountVoMap">
		<result column="hour" property="hour"/>
		<result column="count_join" property="count"/>
	</resultMap>
	
	<resultMap type="YmCountVo" id="YmCountVoMap">
		<result column="day" property="day"/>
		<result column="count_join" property="count"/>
	</resultMap>
	
	<resultMap type="YearCountVo" id="YearCountVoMap">
		<result column="year" property="year"/>
		<result column="count_join" property="count"/>
	</resultMap>

	<select id="selectOne" parameterType="Map" resultType="StudentInfomationVoMap">
		SELECT cs.student_id AS student_id,csc.content AS content,
		       cs.photo_code AS photo_code,cs.photo_name AS photo_name,
		       cs.nickname AS nickname,c.csat_name AS csat_name
		  FROM csat_student cs,csat_student_scqs css,csat_scqs csc,csat c
		 WHERE student_id = #{studentId}
		   AND student_password = #{studentPassword}
		   AND cs.student_seq = css.student_seq
		   AND css.scqs_seq = csc.scqs_seq
		   AND cs.csat_seq = c.csat_seq
	</select>

	<select id="selectOneCountPassword" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM csat_student
		 WHERE student_seq = #{studentSequence}
		   AND student_password = #{password}
	</select>
	
	<select id="selectOneCountIsPassword" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM csat_student cs,csat_student_scqs css
		 WHERE cs.student_seq = css.student_seq
		   AND cs.student_id = #{id}
		   AND css.content = #{securityAnswer}
	</select>
	
	<select id="selectOneId" parameterType="Map" resultType="String">
		SELECT cs.student_id
		  FROM csat_student cs,csat_student_scqs css
		 WHERE cs.student_seq = css.student_seq
		   AND cs.nickname = #{nickname}
		   AND css.content = #{securityAnswer}
	</select>
	
	<select id="selectOneMaxStudentSequence" resultType="int">
		SELECT IFNULL(MAX(student_seq), 0) + 1
		  FROM csat_student 
	</select>
	
	<select id="selectList" parameterType="Map" resultMap="StudentVoMap">
		SELECT cs.student_id as student_id,cs.nickname as nickname,
			   COUNT(csc.student_seq) as count_connection,use_yn,AVG(cess.score) as avg_score
		  FROM csat_student cs,csat_student_connection csc,csat_exam_student_score cess
		 WHERE cs.student_seq = csc.student_seq
		   AND cs.student_seq = cess.student_seq
		   AND (cs.student_id LIKE CONCAT('%',#{search},'%') OR cs.nickname LIKE CONCAT('%',#{search},'%'))
		 LIMIT #{pageNumber}, 10
	</select>
	
	<select id="selectListCountYmd" parameterType="String" resultMap="YmdCountVoMap">
		SELECT TO_CHAR(create_date, 'hh') as hour,COUNT(student_seq) as count_join
		  FROM csat_student
		 WHERE create_date &lt;= TO_DATE(#{ymd}, 'yyyymmdd')
		   AND create_date + 1 &gt; TO_DATE(#{ymd}, 'yyyymmdd')
		 GROUP BY TO_CHAR(create_date, 'hh') 
	</select>
	
	<select id="selectListCountYm" parameterType="String" resultMap="YmCountVoMap">
		SELECT TO_CHAR(create_date, 'dd') as day,COUNT(student_seq) as count_join
		  FROM csat_student
		 WHERE create_date &lt;= TO_DATE(#{ym}, 'yyyymm')
		   AND TO_DATE(#{ym}, 'yyyymm') &gt;= DATEADD(month, 1, create_date)
		 GROUP BY TO_CHAR(create_date, 'dd')
	</select>
	
	<select id="selectListCountYear" parameterType="String" resultMap="YearCountVoMap">
		SELECT TO_CHAR(create_date, 'mm') as day,COUNT(student_seq) as count_join
		  FROM csat_student
		 WHERE create_date &lt;= TO_DATE(#{year}, 'yyyy')
		   AND TO_DATE(#{year}, 'yyyy') &gt;= DATEADD(year, 1, create_date)
		 GROUP BY TO_CHAR(create_date, 'mm')
	</select>
	
	<insert id="insert" parameterType="StudentVo">
		 INSERT INTO csat_student
	     VALUES ( #{studentSequence}, #{studentId}, #{studentPassword}, #{nickname}, 
	     		  #{photoCode}, # {photoName}, #{csatSequence},'Y', #{createDate}) 
	</insert>
	
	<update id="updateInformation" parameterType="StudentVo">
		UPDATE csat_student
		   SET nickname = #{nickname}, photo_code = #{photoCode}, photo_name = #{photoName}, csat_seq = #{csatSequence}
		 WHERE student_seq = #{studentSequence}
	</update>

	<update id="updatePassword" parameterType="Map">
		UPDATE csat_student
		   SET student_password = #{newPassword}
		 WHERE student_seq = #{studentSequence}
	</update>
	
	<update id="updateUseYnN" parameterType="int">
		UPDATE csat_student
		   SET use_yn = 'N'
		 WHERE student_seq = #{studentSequence} 
	</update>
	
</mapper>