<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yearStudent">

	<resultMap type="YearStudentVo" id="YearStudentVoMap">
		<result column="ys_seq" property="yearStudentSequence"/>
		<result column="ys_name" property="yearStudentName"/>
	</resultMap>
	
	<select id="selectList" resultMap="YearStudentVoMap">
		SELECT ys_seq,ys_name
		  FROM csat_ys
	  ORDER BY ys_seq DESC 
	</select>
</mapper>
