<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ys">

	<resultMap type="YsVo" id="YsVoMap">
		<result column="ys_seq" property="ysSequence"/>
		<result column="ys_name" property="ysName"/>
	</resultMap>
	
	<select id="selectList" resultMap="YsVoMap">
		SELECT ys_seq,ys_name
		  FROM csat_ys
	  ORDER BY ys_seq DESC 
	</select>
</mapper>
