<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community.comment.blind">
	
	<select id="selectOne" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM csat_community_comment_blind
		 WHERE community_seq = #{communitySequence}
		   AND comment_seq = #{commentSequence}
	</select>
	
	<insert id="insert" parameterType="Map">
		INSERT INTO csat_community_comment_blind(community_type_seq, community_seq, comment_seq, content, blind_date)
		VALUES (1, #{communitySequence}, #{commentSequence}, #{content}, NOW())
	</insert>
	
</mapper>