<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student.securityQuestion">

	<resultMap type="SecurityQuestionVo" id="SecurityQuestionVoMap">
		<result column="scqs_seq" property="securityQuestionSequence"/>
		<result column="content" property="content"/>
	</resultMap>

	<select id="selectOne" parameterType="int" resultType="String">
		SELECT cs.content
		  FROM csat_student_scqs css,csat_scqs cs
		 WHERE css.scqs_seq = cs.scqs_seq
		   AND css.student_seq = #{studentSequence}
	</select>
	
	<select id="selectList" resultMap="SecurityQuestionVoMap">
		SELECT scqs_seq,content
		  FROM csat_scqs
		 WHERE use_yn = 'Y' 
	</select>
	
	<insert id="insert" parameterType="StudentSecurityQuestionVo">
		INSERT INTO csat_student_scqs
		     VALUES (#{studentSequence},#{securityQuestionSequence},#{content,typeHandler=org.redborn.csatlatte.commons.mybatis.AES256TypeHandler}) 
	</insert>

	<update id="updateContent" parameterType="StudentSecurityQuestionVo">
		UPDATE csat_student_scqs
		   SET content = #{content,typeHandler=org.redborn.csatlatte.commons.mybatis.AES256TypeHandler}, scqs_seq = #{securityQuestionSequence}
		 WHERE student_seq = #{studentSequence}
	</update>
	
</mapper>