<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student.securityQuestion">

	<select id="selectOne" parameterType="int" resultType="String">
		SELECT cs.content
		  FROM csat_student_scqs css,csat_scqs cs
		 WHERE css.scqs_seq = cs.scqs_seq
		   AND css.student_seq = #{studentSequence}
	</select>
	
	<insert id="insert" parameterType="StudentSecurityQuestionVo">
		INSERT INTO csat_student_scqs
		     VALUES (#{studentSequence},#{securityQuestionSequence},#{content}) 
	</insert>

	<update id="updateContent" parameterType="StudentSecurityQuestionVo">
		UPDATE csat_student_scqs
		   SET content = #{content}
		 WHERE student_seq = #{studentSequence}
		   AND scqs_seq = #{securityQuestionSequence}
	</update>
	
</mapper>