<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="question.object.correctanswer">

	<resultMap type="CorrectAnswerVo" id="CorrectAnswerVoMap">
		<result column="qst_seq" property="questionSequence"/>
		<result column="objtitem_seq" property="objectItemSequence"/>
		<result column="description" property="description"/>
	</resultMap>
	
	<select id="selectOne" parameterType="Map" resultMap="CorrectAnswerVoMap">
		SELECT objtitem_seq,description 
		  FROM csat_qst_objtqst_crtans 
		 WHERE csat_seq = #{csatSequence} 
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
		   AND qst_seq = #{questionSequence}
	</select>
	
	<select id="selectList" parameterType="Map" resultMap="CorrectAnswerVoMap">
		SELECT qst_seq,objtitem_seq,description 
  		  FROM csat_qst_objtqst_crtans 
 		 WHERE csat_seq = #{csatSequence} 
   		   AND exam_seq = #{examSequence}
   		   AND section_seq = #{sectionSequence}
   		   AND subject_seq = #{subjectSequence}
   	  ORDER BY qst_seq ASC
	</select>

	<delete id="delete" parameterType="Map">
		DELETE FROM csat_qst_objtqst_crtans 
		 WHERE csat_seq = #{csatSequence} 
		   AND exam_seq = #{examSequence}
		   <if test="sectionSequence != null">
		   		AND section_seq = #{sectionSequence}
		   </if>
		   <if test="subjectSequence != null">
		   		AND subject_seq = #{subjectSequence}
		   </if>
	</delete>
	
	<delete id="deleteForModifyRatingCutBySubject" parameterType="Map">
		DELETE cqoc 
		  FROM csat_qst_objtqst_crtans cqoc 
		       , (SELECT csat_seq,exam_seq,section_seq,subject_seq 
		            FROM csat_exam_subject 
		           WHERE csat_seq IN
		           	<foreach collection="subjectList" item="list" open="(" close=")" separator=",">
						#{list.csatSequence}
					</foreach> 
		             AND exam_seq IN
		            <foreach collection="subjectList" item="list" open="(" close=")" separator=",">
		    			#{list.examSequence}
					</foreach> 
		             AND ! (
		            <foreach collection="subjectList" item="list" separator="OR">
		   				(section_seq = #{list.sectionSequence} AND subject_seq = #{list.subjectSequence})
		   			</foreach>)) ces 
		 WHERE cqoc.csat_seq = ces.csat_seq 
		   AND cqoc.exam_seq = ces.exam_seq 
		   AND cqoc.section_seq = ces.section_seq 
		   AND cqoc.subject_seq = ces.subject_seq
	</delete>

</mapper>