<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="question.image">
	
	<select id="selectOneCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) 
		  FROM csat_qst_img 
		 WHERE csat_seq = #{csatSequence} 
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
		   AND qst_seq = #{questionSequence}
		   AND img_seq = #{imageSequence}
	</select>
	
	<select id="selectOneFileName" parameterType="Map" resultType="String">
		SELECT file_name 
		  FROM csat_qst_img 
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
		   AND qst_seq = #{questionSequence}
		   AND img_seq = #{imageSequence}
	</select>
	
	<select id="selectOneFileCode" parameterType="Map" resultType="String">
		SELECT file_code 
		  FROM csat_qst_img 
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
		   AND qst_seq = #{questionSequence}
		   AND img_seq = #{imageSequence}
	</select>
	
	<delete id="delete" parameterType="Map">
		DELETE FROM csat_qst_img
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   <if test="sectionSequence != null">
		   		AND section_seq = #{sectionSequence}
		   </if>
		   <if test="subjectSequence != null">
		   		AND subject_seq = #{subjectSequence}
		   </if>
	</delete>
	
	<delete id="deleteForModifyRatingCutBySubject" parameterType="Map">
		DELETE cqi 
		  FROM csat_qst_img cqi 
		       , (SELECT csat_seq,exam_seq,section_seq,subject_seq 
		            FROM csat_exam_subject 
		           WHERE csat_seq IN
		           	<foreach collection="subjectList" item="list" open="(" close=")" separator=",">
						#{list.csatSequence}
					</foreach> 
		             AND exam_seq IN
		            <foreach collection="subjectList" item="list" open="(" close=")" separator=",">
		    			#{list.examSequence}
					</foreach> 
		             AND ! (
		            <foreach collection="subjectList" item="list" separator="OR">
		   				(section_seq = #{list.sectionSequence} AND subject_seq = #{list.subjectSequence})
		   			</foreach>)) ces 
		 WHERE cqi.csat_seq = ces.csat_seq 
		   AND cqi.exam_seq = ces.exam_seq 
		   AND cqi.section_seq = ces.section_seq 
		   AND cqi.subject_seq = ces.subject_seq
	</delete>
	
</mapper>