<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<display-name>CSAT Latte</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root.xml
			/WEB-INF/spring/mybatis.xml
		</param-value>
	</context-param>
	
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- encoding UTF-8 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- multipart -->
	<filter>
	    <filter-name>multipartFilter</filter-name>
	    <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	
	<!-- form method="PUT" params 전송 가능 -->
	<filter>
		<filter-name>httpPutFormContentFilter</filter-name>
		<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
	</filter>
	
	<!-- form method PUT, DELETE 사용 -->
	<filter>
	    <filter-name>httpMethodFilter</filter-name>
	    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>multipartFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>httpPutFormContentFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>
	
	<error-page>
		<error-code>401</error-code>
		<location>/error/401</location>
	</error-page>
	
	<error-page>
		<error-code>402</error-code>
		<location>/error/402</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/error/403</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/error/405</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>
	
	<error-page>
		<error-code>501</error-code>
		<location>/error/501</location>
	</error-page>
	
	<error-page>
		<error-code>502</error-code>
		<location>/error/502</location>
	</error-page>
	
	<error-page>
		<error-code>503</error-code>
		<location>/error/503</location>
	</error-page>
	
	<distributable/>
	
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>

</web-app>