<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="question.text.content">

	<resultMap type="TextVo" id="TextVoMap">
		<result column="text_seq" property="textSequence"/>
		<result column="content_seq" property="contentSequence"/>
		<result column="content" property="content"/>
	</resultMap>
	
	<select id="selectList" parameterType="Map" resultMap="TextVoMap">
		SELECT text_seq,content_seq,content 
		  FROM csat_qst_text_content 
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
		   AND text_seq = #{textSequence}
	  ORDER BY content_seq ASC 
	</select>

</mapper>