<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exam.average">

	<resultMap type="AverageVo" id="AverageVoMap">
		<result column="csat_seq" property="csatSequence"/>
		<result column="exam_seq" property="examSequence"/>
		<result column="section_seq" property="sectionSequence"/>
		<result column="subject_seq" property="subjectSequence"/>
		<result column="avg" property="average"/>
		<result column="standard_deviation" property="standardDeviation"/>
		<result column="subject_name" property="subjectName"/>
	</resultMap>
	
	<resultMap type="AverageVo" id="AverageVoDetailMap">
		<result column="avg" property="average"/>
		<result column="standard_deviation" property="standardDeviation"/>
	</resultMap>
	
	<select id="selectOneCount" parameterType="AverageVo" resultType="int">
		SELECT COUNT(*)
		  FROM csat_exam_avg
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
	</select>
	
	<select id="selectOneStandardScore" parameterType="Map" resultType="int">
		SELECT TRUNCATE(( ( #{score} - cea.avg ) / cea.standard_deviation ) * ( 
		                ces.max_score / 5 ) 
		                       + 
		                       ces.max_score, 0) AS standard_score 
		  FROM csat_exam_avg cea,csat_exam_subject ces 
		 WHERE cea.csat_seq = #{csatSequence}
		   AND cea.exam_seq = #{examSequence}
		   AND cea.section_seq = #{sectionSequence}
		   AND cea.subject_seq = #{subjectSequence}
		   AND cea.csat_seq = ces.csat_seq 
		   AND cea.exam_seq = ces.exam_seq 
		   AND cea.section_seq = ces.section_seq 
		   AND cea.subject_seq = ces.subject_seq 
	</select>

	<select id="selectList" parameterType="Map" resultMap="AverageVoMap">
		SELECT cea.csat_seq,cea.exam_seq,cea.section_seq,cea.subject_seq,cea.avg,
		       cea.standard_deviation,ces.subject_name
		  FROM csat_exam_avg cea
		       LEFT OUTER JOIN (SELECT *
		                          FROM csat_exam_subject
		                         WHERE csat_seq = #{csatSequence}
		                           AND exam_seq = #{examSequence}) ces
		                    ON ( ces.csat_seq = cea.csat_seq
		                         AND ces.exam_seq = cea.exam_seq
		                         AND ces.section_seq = cea.section_seq
		                         AND ces.subject_seq = cea.subject_seq )
		 WHERE cea.csat_seq = #{csatSequence}
		   AND cea.exam_seq = #{examSequence} 
	</select>

	<insert id="insert" parameterType="AverageVo">
		INSERT INTO csat_exam_avg
		VALUES (#{csatSequence}, #{examSequence}, #{sectionSequence}, #{subjectSequence},
				#{average}, #{standardDeviation}) 
	</insert>
	
	<update id="update" parameterType="AverageVo">
		UPDATE csat_exam_avg SET avg = #{average}, standard_deviation = #{standardDeviation}
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   AND section_seq = #{sectionSequence}
		   AND subject_seq = #{subjectSequence}
	</update>
	
	<delete id="delete" parameterType="Map">
		DELETE FROM csat_exam_avg
		 WHERE csat_seq = #{csatSequence}
		   AND exam_seq = #{examSequence}
		   <if test="sectionSequence != null">
		   		AND section_seq = #{sectionSequence}
		   </if>
		   <if test="subjectSequence != null">
		   		AND subject_seq = #{subjectSequence}
		   </if>
	</delete>
	
	<delete id="deleteForModifyRatingCut" parameterType="Map">
		DELETE FROM csat_exam_avg 
		 WHERE csat_seq IN  
			<foreach collection="averageList" item="list" open="(" close=")" separator=",">
				#{list.csatSequence}
			</foreach>
		   AND exam_seq IN 
		    <foreach collection="averageList" item="list" open="(" close=")" separator=",">
		    	#{list.examSequence}
			</foreach>
		   AND !(
		   	<foreach collection="averageList" item="list" separator="OR">
		   		(section_seq = #{list.sectionSequence} AND subject_seq = #{list.subjectSequence})
		   	</foreach>)
	</delete>
	
	<delete id="deleteForModifyRatingCutBySubject" parameterType="Map">
		DELETE cea 
		  FROM csat_exam_avg cea 
		       , (SELECT csat_seq,exam_seq,section_seq,subject_seq 
		            FROM csat_exam_subject 
		           WHERE csat_seq IN
		           	<foreach collection="subjectList" item="list" open="(" close=")" separator=",">
						#{list.csatSequence}
					</foreach> 
		             AND exam_seq IN
		            <foreach collection="subjectList" item="list" open="(" close=")" separator=",">
		    			#{list.examSequence}
					</foreach> 
		             AND ! (
		            <foreach collection="subjectList" item="list" separator="OR">
		   				(section_seq = #{list.sectionSequence} AND subject_seq = #{list.subjectSequence})
		   			</foreach>)) ces 
		 WHERE cea.csat_seq = ces.csat_seq 
		   AND cea.exam_seq = ces.exam_seq 
		   AND cea.section_seq = ces.section_seq 
		   AND cea.subject_seq = ces.subject_seq
	</delete>
	
	<delete id="deleteForModifyRatingCutBySection" parameterType="Map">
		DELETE cea 
		  FROM csat_exam_avg cea 
		       , (SELECT csat_seq,exam_seq,section_seq 
		            FROM csat_exam_section 
		           WHERE csat_seq IN
		           	<foreach collection="sectionList" item="list" open="(" close=")" separator=",">
						#{list.csatSequence}
					</foreach> 
		             AND exam_seq IN
		            <foreach collection="sectionList" item="list" open="(" close=")" separator=",">
		    			#{list.examSequence}
					</foreach> 
		             AND ! (
		            <foreach collection="sectionList" item="list" separator="OR">
		   				(section_seq = #{list.sectionSequence})
		   			</foreach>)) ces 
		 WHERE cea.csat_seq = ces.csat_seq 
		   AND cea.exam_seq = ces.exam_seq 
		   AND cea.section_seq = ces.section_seq 
	</delete>
	
</mapper>