<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="csat.exam.average">

	<insert id="insert" parameterType="AverageVo">
		INSERT INTO csat_exam_avg
		VALUES (#{csatSequence}, #{examSequence}, #{sectionSequence}, #{subjectSequence} 
				#{average}, #{standardDeviation}) 
	</insert>
	
</mapper>