<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qna.file">

	<resultMap type="FileVo" id="FileVoMap">
		<result column="file_code" property="fileCode"/>
		<result column="file_name" property="fileName"/>
	</resultMap>

	<select id="selectList" parameterType="int" resultMap="FileVoMap">
		SELECT file_code,file_name
		  FROM csat_qna_file
		 WHERE qna_seq = #{qnaSequence} 
	</select>
	
	<insert id="insert" parameterType="Map">
		 INSERT INTO csat_qna_file (qna_seq,file_seq,file_code,file_name)
	     VALUES (#{qnaSequence}, (SELECT IFNULL(MAX(cqf.file_seq), 0) + 1
	       							FROM csat_qna_file cqf
		  						   WHERE cqf.qna_seq = #{qnaSequence}),#{fileCode},#{fileName}) 
	</insert>
	
</mapper>