<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="faq.type">

	<resultMap type="TypeVo" id="TypeVoMap">
		<result column="faq_type_seq" property="typeSequence"/>
		<result column="description" property="description"/>
	</resultMap>

	<select id="select" resultMap="TypeVoMap">
		  SELECT faq_type_seq, description
		    FROM csat_faq_type
		ORDER BY faq_type_seq ASC
	</select>
	
</mapper>