<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community.blind">
	
	<select id="selectOne" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM csat_community_blind
		 WHERE community_type_seq = #{communityTypeSequence} 
		   AND community_seq = #{communitySequence}
	</select>
	
	<insert id="insert" parameterType="Map">
		INSERT INTO csat_community_blind(community_type_seq, community_seq, blind_type_seq, blind_date)
		VALUES (#{communityTypeSequence}, #{communitySequence}, #{blindTypeSequence}, NOW(3))
	</insert>
	
</mapper>