@CHARSET "UTF-8";
.error {width:440px; margin:auto; margin-top:250px;}
.error-message {color:#7a6253; display:inline-block; margin-top:5px; width:325px;}
.error-logo {display:inline-block; vertical-align:top; margin-left:10px;}